@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@300&display=swap');

.cart_list_itens {
    padding   : 0px;
    margin    : 0px;
    list-style: none;
}

.other_address {
    text-decoration: none;
}

.other_send_company {
    text-decoration: none;
}

.cart_address_actualAddress {
    width           : 100%;
    height          : 220px;
    border          : 1px;
    border-style    : solid;
    border-color    : lightgrey;
    box-shadow      : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius   : 5px;
    background-color: whitesmoke;
    margin-bottom   : 40px;
    padding         : 15px;
}

.cart_address_actualAddress h2 {
    margin-top: 10px;
}

#cart_address_actualAddress li {
    margin-top: 10px;
}

#cart_address_prazo {
    width        : 500px;
    height       : 700px;
    border       : 1px;
    border-style : solid;
    border-color : lightgrey;
    box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top   : 20px;
    margin-bottom: 50px;
}

.cart_address_alterar_add {
    text-align: end;
    margin-top: 30px;
}

.cart_address_alterar_add h6 {
    color          : brown;
    text-decoration: none;
    list-style     : none;
}

.cart_address_buttons {
    text-align      : end;
    margin-bottom   : 20px;
    /* padding-right: 37px; */
}

.cart_address_total {
    display       : flex;
    flex-direction: column;
    align-items   : flex-end;
    padding       : 0px
}

#cart_address_total h6 {
    text-decoration: none;
    color          : brown;
}

.btn.boleto, .btn.pix {
    padding: 0px;
}
 
.img-pix-adress{
    margin-right: 5px;
}

.dados1_compra_card {
    width           : 80%;
    height          : 60%;
    font-size       : larger;
    border          : 1px;
    border-style    : solid;
    border-color    : lightgrey;
    box-shadow      : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius   : 5px;
    margin-top      : 20px;
    background-color: whitesmoke;
    padding         : 10px;
}

.form-check.final {
    margin-bottom: 10px;
}

.btn.confirmar{
    color: #FFFFFF;
}

.btnsEndCart{
    margin: 15px;
    margin-left: 0px;
}

.cart_address_div_entrega{
    margin-bottom: 40px;
}

.cart_address_titles{
    text-align: end;
}

@media (max-width:995px) {

    .div-resumo-adress {
        margin-top: 40px;
    }

}