.containerCartoes{
    margin: 0;
    padding: 0;
    width: 100%;
}
.MenuAreaAlinhamento5{
    margin-top: -5%;
    position: relative;
    top: 50px;
    
}


.listaAreaCliente{
    position: relative;
    top: 200px;
    list-style: none;
    font-weight: 700;
    margin-left: 10%;
    }

    .LinkArea{
        text-decoration: none;
        color: #261C1A;
    }
    .MenuAreaCliente{
        width: 15%;
    }

.tituloCartao{
    color: #261C1A;
    margin-top: -27px;
    margin-left: 10%;
    position: relative;
    top: -300px;
    font-weight: bold;
    font-size: 20px;
}
#line_Area_Cartoes{
    width: 100%;
    border: 1px solid;
    margin-top: -25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.UserAreaClienteCartao{
    position: relative;
    top: -350px;
    left: 5%;
}
.LixeiraAreaCartoes{
    position: relative;
    top:  20px;
    left: 90%;
}

.VisaAreaCartoes{
    position: relative;
    top: 20px;
    left: 26%;
}

.CartaoVisaAreaCartoes{
    position: relative;
    top: 20px;
    left: 12%;
}

#AreaCredito{
    margin-left: 5%;
    position: relative;
    top: 25px;
    text-align: left;
    left: 380px;
}
#container-Cartoes{
   
    box-sizing   : border-box;
    border-radius: 5px;
    width        : 55%;
    margin-bottom: 20px;
    position: relative;
    top: -260px;
    left: 310px;
}



.AreaClienteLista{
    color: #261C1A;
    font-size: 18px;
    font-weight: 700;
    list-style: none;
    
   }


   .DadosCartoes{
    font-size: 15px;
    color: #979797;
    font-weight: 500;
    list-style: none;
    margin-left: 13%;
    margin-top: -5%;
}

.DadosCartoes1{
    font-size: 15px;
    color: #979797;
    font-weight: 500;
    list-style: none;
    margin-left: 66%;
    position: relative;
    top: -20px;
}


   .listaCartoes{
       display: flex;
       justify-content: space-around;
       margin-top:5%;
       margin-left: -60%;
       color: #261C1A;
       list-style: none;
       font-weight: 700;
   }
   .Cartoes1{
    display: flex;
    justify-content: space-around;
    margin-left: 35%;
    color: #261C1A;
    list-style: none;
    font-weight: 700;
    position: relative;
    top: -35px;
}

.editarCartoes{
    width: 105px;
    height: 50px;
    margin-left: 30%;
    margin-top: -10%;
    position: relative;
    top: 20px;
    left: 240px;
    justify-content: center;
    background: #F27507;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    }

    .editarCartoes:hover{
      background-color: darkorange;
        }
        .editarCartoes:focus{
            background-color: darkorange;
              }

    .addCartoes{
        width: 105px;
        height: 50px;
        margin-left: 48%;
        margin-top: -10%;
        position: relative;
        top: 85px;
        left: 210px;
        justify-content: center;
        background: #34A853;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        color: #FFFFFF;
        }
        .addCartoes:hover{
            background-color: #34d175;
        }
        .addCartoes:focus{
            background-color: #34d175;
        }

    

    @media (max-width:1024px){

        #container-Cartoes{
           
            border       : 2px solid #261C1A;
            box-sizing   : border-box;
            border-radius: 5px;
            width        : 60%;
            margin-top: 20%;
            position: relative;
            top: -80px;
            left: 115px;
        }



        .MenuAreaAlinhamento5{
         display: none;
     }
        
      
        
        hr{
            width: 15%;
        }
        
        .tituloCartao{
            color: #261C1A;
            margin-top: -27px;
            margin-left: 20%;
            position: relative;
            top: 150px;
            font-weight: bold;
            font-size: 20px;
        }
        #line_Area_Cartoes{
            width: 100%;
            border: 1px solid;
            margin-top: 15%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .UserAreaClienteCartao{
            position: relative;
            top:100px;
            left: 10%;
        }
        .LixeiraAreaCartoes{
            position: relative;
            top: -10px;
            left: 85%;
        }
        
        .VisaAreaCartoes{
            position: relative;
            top: -10px;
            left: 16%;
        }
        
        .CartaoVisaAreaCartoes{
            position: relative;
            top: -10px;
            left: 4%;
        }
        
        #AreaCredito{
            margin-left: 10%;
            position: relative;
            top: 35px;
            text-align: left;
            left: 200px;
        }
      
        
        
        
        .AreaClienteLista{
            color: #261C1A;
            font-size: 18px;
            font-weight: 700;
            list-style: none;
           }
        
        
           .DadosCartoes{
            font-size: 15px;
            color: #979797;
            font-weight: 500;
            list-style: none;
            margin-left: 8%;
            margin-top: -8%;
        }
        
        .DadosCartoes1{
            font-size: 15px;
            color: #979797;
            font-weight: 500;
            list-style: none;
            margin-left: 66%;
            position: relative;
            top: -20px;
        }
        
        .listaCartoes{
            display: flex;
            justify-content: space-around;
            margin-top:5%;
            margin-left: -60%;
            color: #261C1A;
            list-style: none;
            font-weight: 700;
        }
        .Cartoes1{
         display: flex;
         justify-content: space-around;
         margin-left: 35%;
         color: #261C1A;
         list-style: none;
         font-weight: 700;
         position: relative;
         top: -35px;
     }
     
        
        .editarCartoes{
            width: 105px;
            height: 50px;
            margin-left: 40%;
            margin-top: -10%;
            position: relative;
            top: 40px;
            left: 110px;
            justify-content: center;
            background: #F27507;
            border-radius: 10px;
            border: none;
            font-weight: bold;
            color: #FFFFFF;
            }
        
            .editarCartoes:hover{
              background-color: darkorange;
                }
        
            .addCartoes{
                width: 105px;
                height: 50px;
                margin-left: 48%;
                margin-top: -10%;
                position: relative;
                top: 75px;
                left: 70px;
                justify-content: center;
                background: #34A853;
                border-radius: 10px;
                border: none;
                font-weight: bold;
                color: #FFFFFF;
                }
                .addCartoes:hover{
                    background-color: #34d175;
                }
        
           
 
   
    @media (max-width:667px){



        .MenuAreaAlinhamento5{
            display: none;
        }
           

        #container-Cartoes{
           
            border       : 2px solid #261C1A;
            box-sizing   : border-box;
            border-radius: 5px;
            width        : 100%;
            margin-top: 40%;
            position: relative;
            top: -80px;
            left: 0px;
        }
        hr{
            width: 15%;
        }
        
        .tituloCartao{
            color: #261C1A;
            margin-top: -27px;
            margin-left: 20%;
            position: relative;
            top: 150px;
            font-weight: bold;
            font-size: 20px;
        }
        #line_Area_Cartoes{
            width: 100%;
            border: 1px solid;
            margin-top: 15%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .UserAreaClienteCartao{
            position: relative;
            top:100px;
            left: 10%;
        }
        .LixeiraAreaCartoes{
            position: relative;
            top: 20px;
            left: 85%;
        }
        
        .VisaAreaCartoes{
            position: relative;
            top: 20px;
            left: 16%;
        }
        
        .CartaoVisaAreaCartoes{
            position: relative;
            top: 20px;
            left: 4%;
        }
        
      
      
        
        
        
        .AreaClienteLista{
            color: #261C1A;
            font-size: 18px;
            font-weight: 700;
            list-style: none;
           }
        
        
           .DadosCartoes{
            font-size: 15px;
            color: #979797;
            font-weight: 500;
            list-style: none;
            position: relative;
            top: -20px;
            margin-left: 5%;
            margin-top: -8%;
        }
        
        .DadosCartoes1{
            font-size: 15px;
            color: #979797;
            font-weight: 500;
            list-style: none;
            margin-left: 64%;
            position: relative;
            top: -40px;
        }
        
        .listaCartoes{
            display: flex;
            justify-content: space-around;
            position: relative;
            top: 5px;
            margin-top:5%;
            margin-left: -60%;
            color: #261C1A;
            list-style: none;
            font-weight: 700;
        }
        .Cartoes1{
         display: flex;
         justify-content: space-around;
         margin-left: 35%;
         color: #261C1A;
         list-style: none;
         font-weight: 700;
         position: relative;
         top: -35px;
     }
     
        
        .editarCartoes{
            width: 105px;
            height: 50px;
            margin-left: 40%;
            margin-top: -10%;
            position: relative;
            top: 0px;
            left: 20px;
            justify-content: center;
            background: #F27507;
            border-radius: 10px;
            border: none;
            font-weight: bold;
            color: #FFFFFF;
            }
        
            .editarCartoes:hover{
              background-color: darkorange;
                }
        
            .addCartoes{
                width: 105px;
                height: 50px;
                margin-left: 48%;
                margin-top: -10%;
                position: relative;
                top: 75px;
                left: 40px;
                justify-content: center;
                background: #34A853;
                border-radius: 10px;
                border: none;
                font-weight: bold;
                color: #FFFFFF;
                }
                .addCartoes:hover{
                    background-color: #34d175;
                }
        
           
 
   
                
    }

    
   
    

}