@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@300&display=swap');

.list_resumo_compra{
    display: flex;
    flex-direction: column;
}

.btn-cart-lixeira {
    background: none;
    border: none;
}

@media(max-width: 500px){
	.tr_listCompra{
		display: block;
		width: 100%;
	}

	.tr_listCompra{
		margin-bottom:50px;
	}
}