.p-alterar-senha {
    font-size      : 25px;
    color          : #3C4043;
    font-weight    : bold;
    display        : flex;
    align-items    : baseline;
    justify-content: center
}

.img-alterar-senha {
    width      : 8%;
    height     : 8%;
    margin-left: 15px;
}

#redefinirAltSenha {
    width        : 105px;
    height       : 50px;
    margin-left  : 48%;
    position     : relative;
    top          : 45%;
    left         : -40px;
    align-items  : center;
    background   : #F27507;
    border-radius: 10px;
    border       : none;
    font-weight  : bold;
    color        : #FFFFFF;
}

#redefinirAltSenha:hover {
    background-color: darkorange;
}

@media (max-width: 1024px) {
    #redefinirAltSenha{
        width: 105px;
        height: 50px;
        position: relative;
        top: 2%;
        left: -4%;
        align-items: center;
        background: #F27507;
        border-radius: 10px;
        border: none;
        font-weight: bold;
      

    }

    @media (max-width: 450px) {
        .modal-alterar-senha{
            padding: 0px;
        }
        
        .p-alterar-senha {
            font-size: 20px;
        }
    
        .img-alterar-senha {
            width      : 6%;
            height     : 6%;
            margin-left: 12px;
        }

        #redefinirAltSenha{
            width: 105px;
            height: 50px;
            position: relative;
            top: 27%;
            left: -12%;
            align-items: center;
            background: #F27507;
            border-radius: 10px;
            border: none;
            font-weight: bold;
          

        }
    }
}