@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
    padding-left : 12px;
    padding-right: 12px;
}

/* STYLE CONTANER CADASTRO E LOGIN*/

.container-login-cadastro {
    margin-top     : 50px;
    display        : flex;
    justify-content: center;
    flex-direction : row;
    margin-bottom  : 80px;
}


/* STYLE CONTANER CADASTRO */

.login {
    margin-top   : 20px;
    margin-left  : 20px;
    margin-right : 27px;
    width        : 500px;
    height       : 368px;
    background   : #FFFFFF;
    border       : 2px solid #261C1A;
    box-sizing   : border-box;
    box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.title-login {
    color      : #261C1A;
    text-align : center;
    margin-top : 19px;
    font-weight: bold;
    font-size  : 25px;
}

.email-login {
    font-weight: 700;
    margin-left: 42px;
    color      : #3C4043;
    margin-top : 19px;
    font-size  : 18px;
}

.senha-login {
    font-weight: 700;
    margin-top : 19px;
    margin-left: 42px;
    color      : #3C4043;
    font-size  : 18px;
}

#email.form-control {
    width        : 412px;
    height       : 42px;
    margin-left  : 43px;
    margin-right : 44px;
    left         : 43px;
    top          : 117px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

#senha.form-control {
    width        : 412px;
    height       : 42px;
    margin-left  : 43px;
    margin-right : 44px;
    left         : 43px;
    top          : 117px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

.btn.formlogin {
    width        : 198px;
    height       : 55px;
    left         : 152px;
    top          : 273px;
    background   : #00A846;
    border-radius: 10px;
    color        : #FFFFFF;
    margin-left  : 152px;
    border-radius: 10px;
    margin-top   : 12px;
    font-weight  : bold;
    font-size    : 20px;
}

button.btn.formlogin:hover {
    background: #34d175;
    color     : #FFFFFF;
}

.link-senha {
    font-weight: 500;
    margin-top : 2px;
    font-size  : 16px;
    margin-left: 166px;
    color      : #3C4043;
    cursor     : pointer;
}

.link-senha:hover {
    text-decoration: underline;
    color          : #979797;
}



/* STYLE CONTAINER CADASTRO */

.cadastro {
    margin-top   : 20px;
    width        : 500px;
    height       : 368px;
    background   : #FFFFFF;
    border       : 2px solid #261C1A;
    box-sizing   : border-box;
    box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.title-cadastro {
    color      : #261C1A;
    text-align : center;
    margin-top : 19px;
    font-weight: bold;
    font-size  : 25px;
}

.list-cadastro {
    margin-top     : 30px;
    margin-left    : 113px;
    text-decoration: none;
    color          : #3C4043;
}

.subtitle-cadastro {
    color      : #261C1A;
    text-align : center;
    font-weight: 500;
    margin-top : 10px;
    font-size  : 18px;
}


.btn.formcadastro {
    width        : 198px;
    height       : 55px;
    left         : 152px;
    top          : 273px;
    background   : #F27507;
    border-radius: 10px;
    color        : #FFFFFF;
    margin-left  : 152px;
    border-radius: 10px;
    margin-top   : 23px;
    font-weight  : bold;
    font-size    : 20px;
}

a.btn.formcadastro {
display: flex;
align-items: center;
justify-content: center;
margin-top: 40px;
}

button.btn.formcadastro:hover {
    background: darkorange;
    color     : #FFFFFF;

}



/* MENU RESPONSISVE */

@media (max-width: 1200px) {
    .container-login-cadastro {
        flex-wrap: wrap;
    }
}

@media (max-width: 595px) {

    .login {
        margin-top   : 20px;
        width        : 300px;
        height       : 342px;
        background   : #FFFFFF;
        border       : 2px solid #261C1A;
        box-sizing   : border-box;
        box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    #email.form-control {
        width        : 225px;
        height       : 50px;
        margin-left  : 37px;
        margin-right : 38px;
        left         : 37px;
        top          : 120px;
        border       : 2px solid #979797;
        box-sizing   : border-box;
        border-radius: 10px;
    }

    #senha.form-control {
        width        : 225px;
        height       : 50px;
        margin-left  : 37px;
        margin-right : 38px;
        left         : 37px;
        top          : 120px;
        border       : 2px solid #979797;
        box-sizing   : border-box;
        border-radius: 10px;
    }

    .title-login {
        color      : #261C1A;
        text-align : center;
        margin-top : 24px;
        font-weight: bold;
        font-size  : 20px;
    }

    .email-login {
        font-weight: 700;
        margin-left: 42px;
        color      : #3C4043;
        margin-top : 5px;
        font-size  : 16px;
    }

    .senha-login {
        font-weight: 700;
        margin-top : 9px;
        margin-left: 42px;
        color      : #3C4043;
        font-size  : 16px;
    }

    .btn.formlogin {
        width        : 155px;
        height       : 40px;
        left         : 71px;
        top          : 200px;
        background   : #00A846;
        border-radius: 10px;
        color        : #FFFFFF;
        margin-left  : 71px;
        border-radius: 10px;
        margin-top   : -2px;
        font-weight  : bold;
        font-size    : 18px;
    }

    .link-senha {
        font-weight: bold;
        margin-top : 2px;
        font-size  : 16px;
        margin-left: 63px;
        color      : #979797;
        cursor     : pointer;
    }


    .cadastro {
        margin-top   : 20px;
        width        : 300px;
        height       : 311px;
        background   : #FFFFFF;
        border       : 2px solid #261C1A;
        box-sizing   : border-box;
        box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    .title-cadastro {
        color      : #261C1A;
        text-align : center;
        margin-top : 19px;
        font-weight: bold;
        font-size  : 20px;
    }

    .subtitle-cadastro {
        color      : #261C1A;
        text-align : center;
        font-weight: 700;
        margin-top : 10px;
        font-size  : 16px;
    }

    .list-cadastro {
        margin-top     : 9px;
        margin-left    : 49px;
        text-decoration: none;
        color          : #3C4043;
    }

    .btn.formcadastro {
        width        : 155px;
        height       : 40px;
        left: 73px;
        top          : 253px;
        background   : #F27507;
        border-radius: 10px;
        color        : #FFFFFF;
        margin-left  : 72px;
        border-radius: 10px;
        margin-top   : 16px;
        font-weight  : bold;
        font-size    : 18px;
    }

    
a.btn.formcadastro {
    margin-top: 20px;
    }
    
}

@media (max-width: 375px) {
    .title {
        width    : 260px;
        font-size: 20px;
    }

    .imgUser {
        width : 34px;
        height: 32px;
    }
}

@media (max-width: 320px) {
    .login {
        left: 10px;
    }

    .cadastro {
        left: 10px;
    }
}
