@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@300&display=swap');

/* BEGINNER CART-TITLE */

#cart_title {
    display    : flex;
    align-items: center;
}


.title-cart {
    color      : #261C1A;
    font-weight: bold;

    display   : flex;
    margin-top: 16px;
}

.title h3 {
    margin      : 0px;
    display     : flex;
    align-items : center;
    padding-left: 20px;
    font-size   : 35px;
}

.line-1 {
    width     : 100%;
    border    : 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.iconCart {
    width : 8%;
    height: 4%;

}

/* FINISH CART-TITLE */

/* BEGINNER LIST-CART */

.cart-title-table{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart-title-content-table{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart-title-content-table td{
    border-bottom: none;
}

#cart_total{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
}

.btnComprar 
{
    width: 200px;
    height: 50px;
    background-color: #F27507;
    border-bottom-style: solid #261C1A;
    color: white;
    font-weight: 800;
    font-size: 22px;
    
} 
.btnComprar:hover{
    background-color: darkorange;
    color: white;
    border: 1px solid #F27507;
}
.btnContCompra
{
    width: 200px;
    height: 50px;
    background-color: #00A846;
    color: white;
    font-size: 14px;
    font-weight: 900;
}
.btnContCompra:hover{
    background-color: #34d175;
    color: white;
    border: 1px solid #00A846;
}





/* .itemCart 
{
    width: 100%;
    height: auto;
    
}
.imgCard:hover
{
    transform: scale(1.10);
    transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border:1px solid #261C1A;
    cursor: pointer;
    box-shadow: 0 5px 6px #AF9787;
}
.card
{
    border: 1px solid rgb(177, 174, 174);
    width: 790px;
}
.card-body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:white;
    color: #261C1A;
    border-right: 1px solid rgb(177, 174, 174);
}
.tabelaCard
{
    width: 100%;
    height: auto;
    color: #261C1A;  
}
.table
{
    width: 100%;
    height: auto;
    padding: 0;
}
.table tr
{
    margin: 0px;
    font-size: 20px;

    width: 100%;
}
.tabelaCard, th, td {
    border:none;
    
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.tabelaCard, tr {
    border:none;
    width: 100%;
}
.qtdTb
{
   text-align: center;
   width: 100%;
}

tr td  img .btnExcluir
{
   margin-left: 10px;
}
.dadosCompra
{
    margin-top: 0px;
    padding: 0;
    width: 100%;
    height: 530px;
    align-items: center;
    color: #261C1A;
    
}





.crdTotal
{
    padding: 0;
    width: 300px;
    height: auto;
    margin-left: -70px;
    margin-top: 20px;
    align-items: left;
    border-radius: 3px;
    color: #261C1A;
}


.crdTotal ul h6
{
    margin-top:-20px;
    margin-left: 100px;
    margin-bottom:-5px;
    font-size: 18px;
    color: #261C1A; 
}

.cartoesCart
{   
    width: 100%;
    height: auto;
    margin-top:10px;
    margin-left: -105px; 
}

.cartoesCart ul 
{
    
    list-style: none;
}

.liCarrinho
{
    width: 300px;
    height: auto;
    margin-left: -10px;
    display: flex;
}
.imgCaminhao
{
    margin-left: 0px;
    width: 20%;
}
.liCarrinho nobr
{
    margin-top: 17px;
    margin-left: 5px;
    font-size: 18px;
}
.modal-container
{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container .mostrar
{
    display: flex;
}
.modal
{
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #261C1A;
    box-shadow: 0 0 0 10px gray;
    position: relative;
}
@keyframes modal
{
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.mostrar .modal
{
    animation: modal 3s;
}

.fechar
{
    font-size: 1.2em;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #261C1A;
    background: white;
    cursor: pointer;
} */

/* Inicio @media */

/* @media screen and (min-width: 768px) and (max-width: 1024px) {
   
    body .container 
    {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;  
    }
    .titulo
    {
        width:100%;
        height: 50px;
        margin: 0;
        padding: 0;
    }
    .titulo .imgTitulo 
    {
        margin: -10px 0 -40px 20px;
        width: 5%;
        height:auto;

    }
    
    .container .itemCart
    {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height:100%;
         
    }
    .itemCart .containerCard
    {
        width: 100%;
        height: 100%;
        margin-left:50px;
    }

    .dadosCompra
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 410px;
        margin-left: -490px;
        width: 100%;
        height: 100%;
    }
    .cartoesCart ul
    {
        margin-left: 230px;
        margin-top: -300px;
    }

  }


  /*  */
/* @media screen and (min-width: 375px) and (max-width: 667px) { */

/* .container 
    {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;  
    }
    .titulo
    {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    .titulo .imgTitulo 
    {
        margin: 0px -20px -30px 10px;
        width: 10%;
        height:auto;
    }
    .txtCart
    {
        margin-left: 55px;
    }
    
    .container .itemCart
    {
        width: auto; 
        height:auto;     
    }
    .itemCart  .containerCard
    {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: auto;
        height: auto;
        margin-left: 135px;
    }
    .cardCarrrinho
    {
        width: 370px;
        height: auto;
        display: flex; 
        align-items: center;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .containerCard .card .imgCard
    {
        width: 320px;
        height: auto;
        margin: 0;
        padding: 0;
        margin-left: 25px;   
    }
    

    .card-body
    {
        
        width: auto;
        height: auto;
    }
    .tabelaCard
    {
        width: 200px;
        height: auto;
        margin-top: 20px;
    }
    .tabelaCard thead, tbody
    {
        width: 270px;
        height: auto;
        display: block;
        font-size: 8px;
    }
    
    .dadosCompra
    {
        margin-top: 30px;
        margin-left: 50px;
        width: 200px;
        height: auto;
    }
    .cartoesCart ul
    {
        margin-left: -90px;
        margin-top: 0px;
    }
    .crdTotal
    {
        margin: 0;
        padding: 0;
        margin-left: -70px;
        margin-top: 20px;
    }

  } */