<<<<<<< HEAD
/* LINKS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


    .form{
=======
  .form{
>>>>>>> 7102b74fe3215cc10b4c399b23bd593e0e7a7750
        width: 30%;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #261C1A;
    }
    
    .btn.formbtn, .btn.formbtn:hover{
         background-color: #7BC28E;
         color: #FFFFFF;
         font-weight: 500;
         width:40%;
    }

    .container-form{
        display: flex;
        justify-content: center;
    }
    
    .title{
      margin-top: 20px;
      text-align: center;
<<<<<<< HEAD
    }

=======
    }
>>>>>>> 7102b74fe3215cc10b4c399b23bd593e0e7a7750
