/* LINKS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

    .title{
      margin-top: 20px;
      text-align: center;
      margin-bottom: 50px;
    }

    .form{
        width: 40%;
        margin-top: 20px;
    }

    .btn.formCrud2, .btn.formCrud2:hover{
         background-color: #B8DC85;
         color: #FFFFFF;
         font-weight: 500;
         width:90px;
    }
    
    .btn.formCrud1, .btn.formCrud1:hover{
         background-color: #ED7066;
         color: #FFFFFF;
         font-weight: 500;
         width:90px;
         margin-bottom: 10px;
    }
    
   .btn.formCrud3, .btn.formCrud3:hover{
         background-color: #77B7B3;
         color: #FFFFFF;
         font-weight: 500;
         width:90px;
         margin-bottom: 10px;
    }
    
    .btn.formCrud, .btn.formCrud:hover{
         background-color: #B5D28B;
         color: #FFFFFF;
         font-weight: 500;
         font-size: 18px;
         margin-top: 20px;
         margin-bottom: 20px;
         
    }
    
    .btn.formCrud a{
    text-decoration: none
    }
    
     .btn.formCancel, .btn.formCancel:hover{
         background-color: #5a5959;
         color: #FFFFFF;
         font-weight: 500;
         width:90px;
         margin-bottom: 10px;
    }
    
    button{
    align-items: center;
    }
    
    .container-form{
        display: flex;
        justify-content: center;
    }
    
    .title{
      margin-top: 20px;
    }
    

*{
	box-sizing: border-box;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}


.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

.modal-body{
	text-align: start;
}


   
/*responsive*/

	@media (max-width: 1024px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}

@media (max-width: 667px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
	

}