@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    width: 100%;
}

.container {
    padding-left : 12px;
    padding-right: 12px;
}

/* FORMULÁRIO CADASTRO */

.title {
    color      : #261C1A;
    margin-top : 27px;
    font-weight: bold;
    font-size: 25px;
}

.line-1 {
    width     : 100%;
    border    : 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn.pessoaF.fisico {
    position     : relative;
    width        : 170px;
    height       : 45px;
    left         : 142px;
    margin-bottom: 37px;
    margin-top   : 50px;
    background   : #FFFFFF;
    border       : 2px solid #261C1A;
    box-sizing   : border-box;
    border-radius: 10px;
    color        : #261C1A;
    font-weight  : 700;
}

.btn.pessoaF.fisico:hover {
    background: #34A853;
    border    : 2px solid rgba(52, 168, 83, 0.5);
    color     : #FFFFFF;
}

.btn.pessoaJ.fisico {
    position     : relative;
    width        : 170px;
    height       : 45px;
    left         : 142px;
    margin-top   : 50px;
    margin-bottom: 37px;
    background   : #FFFFFF;
    border       : 2px solid #261C1A;
    box-sizing   : border-box;
    border-radius: 10px;
    color        : #261C1A;
    font-weight  : 700;
    margin-left  : 10px;
}

.btn.pessoaJ.fisico:hover {
    background: #34A853;
    border    : 2px solid rgba(52, 168, 83, 0.5);
    color     : #FFFFFF;
}

.cadastroPessoaF.fisico {
    position     : relative;
    left         : 142px;
    width        : 873px;
    height       : 836px;
    background   : #FFFFFF;
    border       : 2px solid #261C1A;
    box-sizing   : border-box;
    box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 80px;
}

.campostopo {
    position   : absolute;
    width      : 491px;
    height     : 28px;
    left       : 191px;
    top        : 15px;
    font-weight: 700;
    font-size  : 16px;
    display    : flex;
    align-items: center;
    color      : #3C4043;
}

.form-label1.pedidos {
    position   : absolute;
    width      : 144px;
    height     : 23px;
    left       : 123px;
    top        : 52px;
    font-weight: 700;
    font-size  : 14px;
    display    : flex;
    align-items: center;
    color      : #3C4043;
    padding    : 0;
    margin     : 0;
}

#nome_ClienteFisico {
    position     : absolute;
    width        : 627px;
    height       : 40px;
    left         : 123px;
    top          : 89px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

.form-label2.pedidos {
    position   : absolute;
    width      : 65px;
    height     : 29px;
    left       : 123px;
    top        : 139px;
    font-weight: 700;
    font-size  : 14px;
    line-height: 21px;
    display    : flex;
    align-items: center;
    color      : #3C4043;
    padding    : 0;
    margin     : 0;
}

#cpf_ClienteFisico {
    position     : absolute;
    width        : 228px;
    height       : 40px;
    left         : 123px;
    top          : 174px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

.form-label3.pedidos {
    position   : absolute;
    width      : 159px;
    height     : 29px;
    left       : 384px;
    top        : 141px;
    font-weight: 700;
    font-size  : 14px;
    display    : flex;
    align-items: center;
    color      : #3C4043;
}

#data_ClienteFisico {
    font-size    : 14px;
    position     : absolute;
    width        : 228px;
    height       : 40px;
    left         : 384px;
    top          : 174px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

.form-label4.pedidos {
    position   : absolute;
    width      : 47px;
    height     : 29px;
    left       : 650px;
    top        : 141px;
    font-weight: 700;
    font-size  : 14px;
    display    : flex;
    align-items: center;
    color      : #3C4043;
}

select.form-select {
    position     : absolute;
    font-size    : 12px;
    width        : 100px;
    height       : 40px;
    left         : 650px;
    top          : 174px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

.aviso-tel.pedidos {
    position   : absolute;
    width      : 358px;
    height     : 29px;
    left       : 123px;
    top        : 228px;
    font-weight: 700;
    font-size  : 14px;
    display    : flex;
    align-items: center;
    color      : #3C4043;
}

.form-label5.pedidos {
    position   : absolute;
    width      : 228px;
    height     : 21px;
    left       : 121px;
    top        : 275px;
    font-weight: 700;
    font-size  : 14px;
    color      : #3C4043;
}

#telefone_ClienteFisico {
    position     : absolute;
    width        : 228px;
    height       : 40px;
    left         : 121px;
    top          : 308px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

.form-label6.pedidos {
    position   : absolute;
    width      : 140px;
    height     : 29px;
    left       : 436px;
    top        : 267px;
    font-weight: 700;
    font-size  : 14px;
    line-height: 21px;
    display    : flex;
    align-items: center;
}

#celular_ClienteFisico {
    position     : absolute;
    width        : 228px;
    height       : 40px;
    left         : 439px;
    top          : 308px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

.form-label7.pedidos {
    position   : absolute;
    width      : 58px;
    height     : 18px;
    left       : 123px;
    top        : 366px;
    font-weight: 700;
    font-size  : 14px;
    display    : flex;
    align-items: center;
    color      : #3C4043;
}

#email1_ClienteFisico {
    position     : absolute;
    width        : 627px;
    height       : 40px;
    left         : 123px;
    top          : 394px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

.form-label8.pedidos {
    position   : absolute;
    width      : 164px;
    height     : 29px;
    left       : 123px;
    top        : 454px;
    font-weight: 700;
    font-size  : 14px;
    display    : flex;
    align-items: center;
    color      : #3C4043;
}

#email2_ClienteFisico {
    position     : absolute;
    width        : 627px;
    height       : 40px;
    left         : 123px;
    top          : 493px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

.form-label9.pedidos {
    position   : absolute;
    width      : 244px;
    height     : 29px;
    left       : 123px;
    top        : 542px;
    font-weight: 700;
    font-size  : 14px;
    display    : flex;
    align-items: center;
    color      : #3C4043;
}

#senha1_ClienteFisico {
    position     : absolute;
    width        : 279px;
    height       : 40px;
    left         : 121px;
    top          : 586px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

.form-label10.pedidos {
    position   : absolute;
    width      : 202px;
    height     : 29px;
    left       : 472px;
    top        : 542px;
    font-weight: 700;
    font-size  : 14px;
    display    : flex;
    align-items: center;
    color      : #3C4043;
}

#senha2_ClienteFisico {
    position     : absolute;
    width        : 279px;
    height       : 40px;
    left         : 472px;
    top          : 586px;
    border       : 1px solid #979797;
    box-sizing   : border-box;
    border-radius: 10px;
}

#exampleCheck1_ClienteFisico {
    position     : absolute;
    width        : 20px;
    height       : 18px;
    left         : 150px;
    top          : 637px;
    border-radius: 5px;
}

.form-check-label.pedidos {
    position   : absolute;
    width      : 318px;
    height     : 22px;
    left       : 156px;
    top        : 642px;
    font-weight: normal;
    font-size  : 14px;
    display    : flex;
    align-items: center;
    color      : #666666;
}

.aviso-privacidade.pedidos {
    position   : absolute;
    width      : 611px;
    height     : 33px;
    left       : 131px;
    top        : 682px;
    font-weight: 700;
    font-size  : 16px;
    display    : flex;
    align-items: center;
    color      : #000000;
}

em {
    color: #3362AB;
}

em:hover {
    color          : #3362AB;
    text-decoration: underline;
}

.btn.formcadastroF {
    position     : absolute;
    width        : 255px;
    height       : 55px;
    left         : 309px;
    top          : 746px;
    background   : #F27507;
    border       : 1px solid #F27507;
    box-sizing   : border-box;
    border-radius: 10px;
    font-size    : 20px;
    color        : #FFFFFF;
    font-weight  : bold;
}

.btn.formcadastroF:hover {
    background: darkorange;
    color     : #FFFFFF;
}



/* MENU RESPONSIVO */

@media (max-width: 1200px) {

    .btn.pessoaF.fisico {
        left: 25px;
    }

    .btn.pessoaJ.fisico {
        left: 25px;
    }

    .cadastroPessoaF.fisico {
        width : 630px;
        height: 769px;
        left  : 25px;
    }

    .campostopo {
        width : 500px;
        height: 28px;
        left  : 84px;
        top   : 18px;
    }

    .form-label1.pedidos {
        width : 133px;
        height: 24px;
        left  : 37px;
        top   : 54px;
    }

    #nome_ClienteFisico {
        width : 550px;
        height: 40px;
        left  : 37px;
        top   : 85px;
    }

    .form-label2.pedidos {
        width : 49px;
        height: 15px;
        left  : 37px;
        top   : 139px;

    }

    #cpf_ClienteFisico {
        width : 200px;
        height: 40px;
        left  : 34px;
        top   : 164px;
    }

    .form-label3.pedidos {
        width : 133px;
        height: 15px;
        left  : 271px;
        top   : 137px;
    }

    #data_ClienteFisico {
        width : 149px;
        height: 40px;
        left  : 271px;
        top   : 164px;
    }

    #data_ClienteFisico.form-control {
        font-size: 12px;
    }

    .form-label4.pedidos {
        width : 42px;
        height: 19px;
        left  : 468px;
        top   : 137px;
    }

    select.form-select {
        width    : 100px;
        height   : 40px;
        left     : 468px;
        top      : 164px;
        font-size: 12px;
    }

    .aviso-tel.pedidos {
        width : 315px;
        height: 29px;
        left  : 37px;
        top   : 217px;
    }

    .form-label5.pedidos {
        width : 200px;
        height: 29px;
        left  : 36px;
        top   : 248px;
    }

    #telefone_ClienteFisico {
        width : 194px;
        height: 40px;
        left  : 37px;
        top   : 285px;
    }

    .form-label6.pedidos {
        width : 122px;
        height: 29px;
        left  : 300px;
        top   : 248px;
    }

    #celular_ClienteFisico {
        position: absolute;
        width   : 194px;
        height  : 40px;
        left    : 300px;
        top     : 283px;
    }

    .form-label7.pedidos {
        width : 52px;
        height: 20px;
        left  : 34px;
        top   : 334px;
    }

    #email1_ClienteFisico {
        width : 553px;
        height: 40px;
        left  : 37px;
        top   : 366px;
    }

    .form-label8.pedidos {
        width : 145px;
        height: 20px;
        left  : 37px;
        top   : 419px;
    }

    #email2_ClienteFisico {
        width : 550px;
        height: 40px;
        left  : 37px;
        top   : 448px
    }

    .form-label9.pedidos {
        width : 244px;
        height: 29px;
        left  : 34px;
        top   : 499px;
    }

    #senha1_ClienteFisico {
        width : 235px;
        height: 40px;
        left  : 37px;
        top   : 532px;
    }

    .form-label10.pedidos {
        width : 202px;
        height: 29px;
        left  : 316px;
        top   : 499px;
    }

    #senha2_ClienteFisico {
        width : 235px;
        height: 40px;
        left  : 316px;
        top   : 532px;
    }

    #exampleCheck1_ClienteFisico {
        width : 20px;
        height: 18px;
        left  : 55px;
        top   : 591px;
    }

    .form-check-label.pedidos {
        width : 267px;
        height: 22px;
        left  : 60px;
        top   : 594px;
    }


    .aviso-privacidade.pedidos {
        width    : 545px;
        height   : 33px;
        left     : 34px;
        top      : 632px;
        font-size: 14px;
    }

    .btn.formcadastroF {
        width    : 255px;
        height   : 55px;
        left     : 175px;
        top      : 688px;
        font-size: 20px;
    }
}


@media (max-width: 760px) {
    .btn.pessoaF.fisico {
        width    : 140px;
        height   : 40px;
        font-size: 12px;
        left     : 20px;
    }

    .btn.pessoaJ.fisico {
        width    : 140px;
        height   : 40px;
        font-size: 12px;
        left     : 25px;
    }

    .cadastroPessoaF.fisico {
        width : 334px;
        height: 984px;
        left  : 10px;
    }

    .campostopo {
        width     : 250px;
        height    : 28px;
        left      : 52px;
        top       : 17px;
        text-align: center;
        font-size : 14px;
    }

    .form-label1.pedidos {
        width    : 120px;
        height   : 21px;
        left     : 28px;
        top      : 59px;
        font-size: 14px;
    }

    #nome_ClienteFisico {
        width : 274px;
        height: 36px;
        left  : 28px;
        top   : 87p
    }

    .form-label2.pedidos {
        width    : 37px;
        height   : 19px;
        left     : 28px;
        top      : 131px;
        font-size: 14px;
    }

    #cpf_ClienteFisico {
        width : 139px;
        height: 36px;
        left  : 28px;
        top   : 161px;
    }

    .form-label3.pedidos {
        width    : 120px;
        height   : 20px;
        left     : 28px;
        top      : 205px;
        font-size: 14px;
    }

    #data_ClienteFisico {
        width : 149px;
        height: 36px;
        left  : 28px;
        top   : 236px
    }

    .form-label4.pedidos {
        width    : 42px;
        height   : 19px;
        left     : 28px;
        top      : 277px;
        font-size: 14px;
    }

    select.form-select {
        width    : 100px;
        height   : 36px;
        left     : 28px;
        top      : 304px;
        font-size: 12px;
    }

    .aviso-tel.pedidos {
        width    : 285px;
        height   : 31px;
        left     : 29px;
        top      : 351px;
        font-size: 14px;
    }

    .form-label5.pedidos {
        width    : 190px;
        height   : 21px;
        left     : 29px;
        top      : 394px;
        font-size: 14px;
    }

    #telefone_ClienteFisico {
        width : 194px;
        height: 36px;
        left  : 28px;
        top   : 424px;

    }

    .form-label6.pedidos {
        width    : 155px;
        height   : 29px;
        left     : 29px;
        top      : 469px;
        font-size: 14px;
    }

    #celular_ClienteFisico {
        width : 194px;
        height: 36px;
        left  : 29px;
        top   : 503px;
    }

    .form-label7.pedidos {
        width    : 44px;
        height   : 16px;
        left     : 29px;
        top      : 550px;
        font-size: 14px;
    }

    #email1_ClienteFisico {
        width : 274px;
        height: 36px;
        left  : 29px;
        top   : 577px;
    }

    .form-label8.pedidos {
        width    : 140px;
        height   : 20px;
        left     : 29px;
        top      : 622px;
        font-size: 14px;
    }

    #email2_ClienteFisico {
        width : 274px;
        height: 36px;
        left  : 29px;
        top   : 648px;
    }

    .form-label9.pedidos {
        width    : 174px;
        height   : 18px;
        left     : 29px;
        top      : 693px;
        font-size: 14px;
    }

    #senha1_ClienteFisico {
        width : 194px;
        height: 36px;
        left  : 29px;
        top   : 718px
    }

    .form-label10.pedidos {
        width    : 128px;
        height   : 18px;
        left     : 29px;
        top      : 758px;
        font-size: 14px;
    }


    #senha2_ClienteFisico {
        width : 274px;
        height: 36px;
        left  : 29px;
        top   : 782px;
    }

    #exampleCheck1_ClienteFisico {
        width : 20px;
        height: 18px;
        left  : 50px;
        top   : 830px;
    }

    .form-check-label.pedidos {
        width : 237px;
        height: 16px;
        left  : 61px;
        top   : 836px;
    }


    .aviso-privacidade.pedidos {
        width     : 274px;
        height    : 33px;
        left      : 18px;
        top       : 867px;
        font-size : 12px;
        text-align: end;
    }

    .btn.formcadastroF {
        width    : 220px;
        height   : 45px;
        left     : 48px;
        top      : 921px;
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .btn.pessoaF.fisico {
        left: 5px;
    }

    .btn.pessoaJ.fisico {
        left: 5px;
    }

    .cadastroPessoaF.fisico {
        left: 5px;
        margin-left: 0;
        position: 0;
    }
}

@media (max-width: 320px) {

    .cadastroPessoaF.fisico {
        width: 302px;
        left : 0px;
    }

    .campostopo {
        left: 35px;
    }

    .form-label1.pedidos {
        left: 15px;
    }

    #nome_ClienteFisico {
        left: 15px;
    }

    .form-label2.pedidos {
        left: 15px;
    }

    #cpf_ClienteFisico {
        left: 15px;
    }

    .form-label3.pedidos {
        left: 15px;
    }

    #data_ClienteFisico {
        left: 15px;
    }

    .form-label4.pedidos {
        left: 15px;
    }

    select.form-select {
        left: 15px;
    }

    .aviso-tel.pedidos {
        left     : 15px;
        font-size: 12px;
    }

    .form-label5.pedidos {
        left: 15px;
    }

    #telefone_ClienteFisico {
        left: 15px;
    }

    .form-label6.pedidos {
        left: 15px;
    }

    #celular_ClienteFisico {
        left: 15px;
    }

    .form-label7.pedidos {
        left: 15px;
    }

    #email1_ClienteFisico {
        left: 15px;
    }

    .form-label8.pedidos {
        left: 15px;
    }

    #email2_ClienteFisico {
        left: 15px;
    }

    .form-label9.pedidos {
        left: 18px;
    }

    #senha1_ClienteFisico {
        left: 18px;
    }

    .form-label10.pedidos {
        left: 18px;
    }


    #senha2_ClienteFisico {
        left: 18px;
    }

    #exampleCheck1_ClienteFisico {
        left: 45px;
    }

    .form-check-label.pedidos {
        left: 50px;
    }

    .aviso-privacidade.pedidos {
        left: 15px;
    }

    .btn.formcadastroF.fisico {
        left: 42px;
    }
}