@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.container{
    margin: 0;
    padding: 0;
    width: 100%;

}




.caixa-email{
    width: 740px;
    height: 525px;
    margin-top: 85px;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 2px solid #261C1A;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 340px;
 }

#usuario{
   margin-top: -130px;
   align-items: center;
   margin-left: 7px; 
}

.subTitulo{
text-align: center;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
margin-left: 240px;
color: #261C1A;
margin-top: 50px;

}

.title{
    color: #261C1A;
    margin-top: 37px;
    margin-left: 80px;
    font-weight: bold;
    }
    
    hr{
    height: 0px;
    background-color: #261C1A;
    border: 1px solid #261C1A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

#texSenha{


font-style: normal;
font-weight: normal;
position: relative;
font-size: 18px;
display: flex;
align-items: center;
color: #3C4043;
top: 55px;
line-height: 50px;
margin-left: 20px;
}

#email{ 
    position: relative;
    width: 700px;
    height: 42px;
    border: 2px solid #979797;
    box-sizing: border-box;
    border-radius: 10px;
    top: 42px;
    margin-left: 20px;
}


#senha2{ 
  
    width: 700px;
    height: 42px;
    border: 2px solid #979797;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 62px;
    margin-left: 20px;
}

    #texSenha2{


        font-style: normal;
        font-weight: normal;
        position: relative;
        font-size: 18px;
        display: flex;
        align-items: center;
        color: #3C4043;
        top: 75px;
        line-height: 50px;
        margin-left: 20px;
        }

.btn.btn-primary{
width: 110px;
height: 40px;
margin-left: 350px;
margin-bottom: -100px;
align-items: center;
background: #F27507; 
border-radius: 10px;
font-weight: bold;
}



.btn.btn-primary:hover{
    background: darkorange; 
    }

#janelaModal{
    background-color: #979797;
}

.modal-header{
position: fixed;
width: 334px;
height: 301px;
background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
top: 200px;
left: 650px;
}

.btn-close{
position: relative;    
top: -110px;
left: -10px;
}

.sub{
font-weight: bold;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
color: #261C1A;

margin-top: -30px;
margin-left: 25px;
}

.botao1.tex1{
position: absolute;
width: 60px;
height: 42px;
color: #FFFFFF;
background: #34A853;
border-radius: 10px;
top: 220px;
left: 150px;
align-items: center;
}

@media (max-width:1024px) {
    .container{
        margin: 0;
        padding: 0;
        width: 100%;
    
    }
    
    
    
    
    .caixa-email{
        width: 540px;
        height: 525px;
        margin-top: 85px;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 2px solid #261C1A;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-left: 80px;
     }
    
    #usuario{
       margin-top: -130px;
       align-items: center;
       margin-left: 7px; 
    }
    
    .subTitulo{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    margin-left: 130px;
    color: #261C1A;
    margin-top: 50px;
    
    }
    
    .title{
        color: #261C1A;
        margin-top: 37px;
        margin-left: 80px;
        font-weight: bold;
        }
        
        hr{
        height: 0px;
        background-color: #261C1A;
        border: 1px solid #261C1A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
    #texSenha{
    
    
    font-style: normal;
    font-weight: normal;
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #3C4043;
    top: 55px;
    line-height: 50px;
    margin-left: 20px;
    }
    
    #email{ 
        position: relative;
        width: 483px;
        height: 42px;
        border: 2px solid #979797;
        box-sizing: border-box;
        border-radius: 10px;
        top: 42px;
        margin-left: 20px;
    }


    #senha2{ 
      
        width: 483px;
        height: 42px;
        border: 2px solid #979797;
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 62px;
        margin-left: 20px;
    }

        #texSenha2{
    
    
            font-style: normal;
            font-weight: normal;
            position: relative;
            font-size: 18px;
            display: flex;
            align-items: center;
            color: #3C4043;
            top: 75px;
            line-height: 50px;
            margin-left: 20px;
            }

    .btn.btn-primary{
    width: 110px;
    height: 40px;
    margin-left: 220px;
    margin-bottom: -100px;
    align-items: center;
    background: #F27507; 
    border-radius: 10px;
    font-weight: bold;
    }


    
    .btn.btn-primary{
  
        background: darkorange; 
        }
    
    #janelaModal{
        background-color: #979797;
    }
    
    .modal-header{
    position: fixed;
    width: 334px;
    height: 301px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    top: 350px;
    left: 250px;
    }
    
    .btn-close{
    position: relative;    
    top: -110px;
    left: -10px;
    }
    
    .sub{
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #261C1A;
    
    margin-top: -30px;
    margin-left: 25px;
    }
    
    .botao1.tex1{
    position: absolute;
    width: 60px;
    height: 42px;
    color: #FFFFFF;
    background: #34A853;
    border-radius: 10px;
    top: 220px;
    left: 150px;
    align-items: center;
    }
}
 


@media (max-width:667px) {
    .container{
        margin: 0;
        padding: 0;
        width: 100%;
    
    }
    
    
    
    
    .caixa-email{
        width: 340px;
        height: 525px;
        margin-top: 85px;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 2px solid #261C1A;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-left: 10px;
     }
    
    #usuario{
       margin-top: -130px;
       align-items: center;
       margin-left: 7px; 
    }
    
    .subTitulo{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: #261C1A;
    margin-top: 50px;
    
    }
    
    .title{
        color: #261C1A;
        margin-top: 37px;
        margin-left: 80px;
        font-weight: bold;
        }
        
        hr{
        height: 0px;
        background-color: #261C1A;
        border: 1px solid #261C1A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
    #texSenha{
    
    
    font-style: normal;
    font-weight: normal;
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #3C4043;
    top: 55px;
    line-height: 50px;
    margin-left: 20px;
    }
    
    #email{ 
        position: relative;
        width: 303px;
        height: 42px;
        border: 2px solid #979797;
        box-sizing: border-box;
        border-radius: 10px;
        top: 42px;
        margin-left: 20px;
    }


    #senha2{ 
      
        width: 303px;
        height: 42px;
        border: 2px solid #979797;
        box-sizing: border-box;
        border-radius: 10px;
        margin-top: 62px;
        margin-left: 20px;
    }

        #texSenha2{
    
    
            font-style: normal;
            font-weight: normal;
            position: relative;
            font-size: 18px;
            display: flex;
            align-items: center;
            color: #3C4043;
            top: 75px;
            line-height: 50px;
            margin-left: 20px;
            }

    .btn.btn-primary{
    width: 110px;
    height: 40px;
    margin-left: 120px;
    margin-bottom: -100px;
    align-items: center;
    background: #F27507; 
    border-radius: 10px;
    font-weight: bold;
    }


    
    .btn.btn-primary{
  
        background: darkorange; 
        }
    
    #janelaModal{
        background-color: #979797;
    }
    
    .modal-header{
    position: fixed;
    width: 334px;
    height: 301px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    top: 200px;
    left: 20px;
    }
    
    .btn-close{
    position: relative;    
    top: -110px;
    left: -10px;
    }
    
    .sub{
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #261C1A;
    
    margin-top: -30px;
    margin-left: 25px;
    }
    
    .botao1.tex1{
    position: absolute;
    width: 60px;
    height: 42px;
    color: #FFFFFF;
    background: #34A853;
    border-radius: 10px;
    top: 220px;
    left: 150px;
    align-items: center;
    }
}
   




