
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@300&display=swap');

.titulo
{
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #261C1A;
    font-family: 'Roboto', sans-serif;
    font-style: large bold;
    padding: 0;
    margin-top: -20px;
    margin-bottom: 10px;
}

.carrinho::before
{
    position: absolute;
    content: url(../../../images/icons/carrinhoLogo1.png);
    margin-left: 50px;
    margin-top: -15px;
}

.txtCart
{
    margin-top: 10px;
    margin-left: 120px;
    font-size: 25px;
    text-decoration-style: both dashed;
}
/* fim Titulo e Linha */

.itemCart 
{
    width: 100%;
    height: auto;
}
.card-body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:#f7f7f7;
}
.tabelaCard
{
    width: 100%;
}
.table
{
    width: 100%;
    height: auto;
    padding: 0;
}
.table tr
{
    margin: 0px;
    font-size: 13px;
    width: 100%;
}
table, th, td {
    border:none;
    
    width: 100%;
    padding: 0px;
    margin: 0px;
}
table, tr {
    border:none;
    width: 100%;
}
.qtdTb
{
   text-align: center;
   width: 100%;
}

tr td  img .btnExcluir
{
   margin-right: -10px;
}
.dadosCompra
{
    margin-top: 0px;
    padding: 0;
    width: 100%;
    height: 530px;
    align-items: center;
}

.btnComprar 
{
    width: 300px;
    height: 50px;
    margin-left: -70px;
    margin-bottom: -8px;
    background-color: #F27507;
    border-bottom-style: solid #261C1A;
    color: white;
    font-weight: 900;
    font-size: 22px;
} 
.btnComprar:hover{
    background-color: darkorange;
    color: white;
    border: 1px solid #F27507;
}

.btnCCompra
{
    width: 200px;
    margin-top: 20px;
    margin-left: -70px;
    margin-bottom: 10px;
    background-color: #00A846;
    color: white;
    font-size: 12px;
    font-weight: 900;
}
.btnCCompra:hover{
    background-color: #34d175;
    color: white;
    border: 1px solid #00A846;
}

.crdTotla
{
    padding: 0;
    width: 300px;
    height: auto;
    margin-left: -70px;
    margin-top: 20px;
    align-items: left;
    border-radius: 3px;
}

.crdTotla ul h6
{
    margin-top:-20px;
    margin-left: 100px;
    margin-bottom:-5px;
    
}

.cartoesCart
{   
    width: 100%;
    height: auto;
    margin-top:10px;
    margin-left: -105px; 
}

.cartoesCart ul 
{
    
    list-style: none;
}

.liCarrinho
{
    width: 300px;
    height: auto;
    margin-left: -10px;
    display: flex;
}
.imgCaminhao
{
    margin-left: 0px;
}
.liCarrinho h6
{
    margin-top: 25px;
    margin-left: 10px;
}