@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.menu-component-itens {
    text-decoration: none;
    color          : #261C1A;
    font-weight    : bold;
    font-size      : 18px;
}

.menu-component-itens:hover {
    text-decoration: underline;
    color          : #AF9787;
}

.menu-component-lines {
    width: 160px;
}

.dropdown-item {
    text-align: center;
    
}

.dropdown-item:hover {
    text-align: center;
    background-color:  #AF9787;

}

.font-menu {
    font-size  : 20px;
    color      : #261C1A;
    font-weight: 700;
    border: none;
    background: none;
}
