@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@300&display=swap');

.list_resumo_compra{
    display: flex;
    flex-direction: column;
}

.btn-cart-lixeira {
    background: none;
    border: none;
}

@media(max-width: 500px){
	.tr_listCompra{
		display: block;
		width: 100%;
	}

	.tr_listCompra{
		margin-bottom:50px;
	}

	.area-favoritos.p {
		font-size    : 14px;
		margin-bottom: 5px;
		color        : #979797;
	
	}

	.btn.compra {
		width        : 100px;
		height       : 54px;
		background   : #F27507;
		border-radius: 10px;
		color        : #FFFFFF;
		font-weight  : 300;
		font-size    : 22px;
		margin-bottom: 20px;
	}

	.btn.compra:hover {
		background: darkorange;
		color     : #FFFFFF;
	}

	.btn-detalhes {
		background: #F27507;
		border-radius: 10px;
		color: #FFFFFF;
		border-radius: 10px;
		font-weight: 700;
		font-size: 16px;
		margin-right: 10px;
		width: 250px;
	}
}

