@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

.btn.btn-primary:hover{
    background: #34d175;
}



    .botao1.tex1:hover{
        background-color: #34d175;
    }


.caixa-email{
    width: 600px;
    height: 361px;
    margin-top: 135px;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 2px solid #261C1A;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 355px;
 }

#usuario{
   margin-top: -130px;
   align-items: center;
   margin-left: 70px; 
}

.subTitulo{
text-align: center;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;
margin-left: 165px;
color: #261C1A;
margin-top: 50px;

}

.title{
    color: #261C1A;
    margin-top: 37px;
    margin-left: 150px;
    font-weight: bold;
    }
    
    hr{
    width: 100%;
    height: 0px;
    background-color: #261C1A;
    border: 1px solid #261C1A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

label{


font-style: normal;
font-weight: normal;
position: relative;
font-size: 18px;
display: flex;
align-items: center;
color: #3C4043;
top: 40px;
line-height: 50px;
margin-left: 30px;
}

#email{ 
    position: relative;
    width: 503px;
    height: 42px;
    border: 2px solid #979797;
    box-sizing: border-box;
    border-radius: 10px;
    top: 2px;
    left: -1px;
}

.btn.btn-primary{
width: 90px;
height: 40px;
margin-left: 270px;
margin-bottom: -140px;
align-items: center;
background: #34A853;
border-radius: 10px;
font-weight: bold;
}

#janelaModal{
    background-color: #979797;
}

.modal-header{
position: fixed;
width: 424px;
height: 221px;
background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
top: 250px;
left: 620px;
}

.btn-close{
position: relative;    
top: -90px;
left: -10px;
}

.sub{
 


font-weight: bold;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
color: #261C1A;

margin-top: -30px;
margin-left: 25px;
}

.botao1.tex1{
position: absolute;
width: 60px;
height: 42px;
color: #FFFFFF;
background: #34A853;
border-radius: 10px;
top: 150px;
left: 190px;
align-items: center;
}

@media (max-width:1024px) {
      .container{
        margin: 0;
        padding: 0;
        width: 100%;
    
    }
    
    .btn.btn-primary:hover{
        background: #34d175;
    }
    
  
        .botao1.tex1:hover{
            background-color: #34d175;
        }
    
    
    .caixa-email{
        width: 600px;
        height: 361px;
        margin-top: 65px;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 2px solid #261C1A;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-left: 50px;
     }
    
    #usuario{
       margin-top: -130px;
       align-items: center;
       margin-left: 70px; 
    }
    
    .subTitulo{
    text-align: center;
    
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    margin-left: 165px;
    color: #261C1A;
    margin-top: 50px;
    
    }
    
    .title{
        color: #261C1A;
        margin-top: 37px;
        margin-left: 150px;
        font-weight: bold;
        }
        
        hr{
        width: 100%;
        height: 0px;
        background-color: #261C1A;
        border: 1px solid #261C1A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
    label{
    
    
    font-style: normal;
    font-weight: normal;
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #3C4043;
    top: 40px;
    line-height: 50px;
    margin-left: 30px;
    }
    
    #email{ 
        position: relative;
        width: 503px;
        height: 42px;
        border: 2px solid #979797;
        box-sizing: border-box;
        border-radius: 10px;
        top: 2px;
        left: -1px;
    }
    
    .btn.btn-primary{
    width: 90px;
    height: 40px;
    margin-left: 270px;
    margin-bottom: -140px;
    align-items: center;
    background: #34A853;
    border-radius: 10px;
    font-weight: bold;
    }
    
    #janelaModal{
        background-color: #979797;
    }
    
    .modal-header{
    position: fixed;
    width: 424px;
    height: 221px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    top: 350px;
    left: 200px;
    }
    
    .btn-close{
    position: relative;    
    top: -90px;
    left: -10px;
    }
    
    .sub{
     
    
    
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #261C1A;
    
    margin-top: -30px;
    margin-left: 25px;
    }
    
    .botao1.tex1{
    position: absolute;
    width: 60px;
    height: 42px;
    color: #FFFFFF;
    background: #34A853;
    border-radius: 10px;
    top: 150px;
    left: 190px;
    align-items: center;
    }
}
 


@media (max-width:667px) {
    .container{
        margin: 0;
        padding: 0;
        width: 100%;
    
    }
    
    .btn.btn-primary:hover{
        background: #34d175;
    }
    

    
        .botao1.tex1:hover{
            background-color: #34d175;
        }
    
    
    .caixa-email{
        width: 340px;
        height: 361px;
        margin-top: 65px;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 2px solid #261C1A;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-left: 10px;
     }
    
    #usuario{
       margin-top: -130px;
       align-items: center;
       margin-left: 7px; 
    }
    
    .subTitulo{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: #261C1A;
    margin-top: 50px;
    
    }
    
    .title{
        color: #261C1A;
        margin-top: 37px;
        margin-left: 80px;
        font-weight: bold;
        }
        
        hr{
        height: 0px;
        background-color: #261C1A;
        border: 1px solid #261C1A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
    label{
    
    
    font-style: normal;
    font-weight: normal;
    position: relative;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #3C4043;
    top: 40px;
    line-height: 50px;
    margin-left: 30px;
    }
    
    #email{ 
        position: relative;
        width: 283px;
        height: 42px;
        border: 2px solid #979797;
        box-sizing: border-box;
        border-radius: 10px;
        top: 2px;
        left: -1px;
    }
    
    .btn.btn-primary{
    width: 90px;
    height: 40px;
    margin-left: 130px;
    margin-bottom: -140px;
    align-items: center;
    background: #34A853;
    border-radius: 10px;
    font-weight: bold;
    }
    
    #janelaModal{
        background-color: #979797;
    }
    
    .modal-header{
    position: fixed;
    width: 334px;
    height: 301px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    top: 200px;
    left: 20px;
    }
    
    .btn-close{
    position: relative;    
    top: -110px;
    left: -10px;
    }
    
    .sub{
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #261C1A;
    
    margin-top: -30px;
    margin-left: 25px;
    }
    
    .botao1.tex1{
    position: absolute;
    width: 60px;
    height: 42px;
    color: #FFFFFF;
    background: #34A853;
    border-radius: 10px;
    top: 220px;
    left: 150px;
    align-items: center;
    }
}
   




