@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.div-form-enderecos {
    margin-top: 20px;
}

.title-form-enderecos {
    font-size  : 25px;
    color      : #261C1A;
    font-weight: bold;
}

.label-form-enderecos {
    font-size  : 16px;
    color      : #3C4043;
    font-weight: 700;
}


.input-form-enderecos {
    border: 1px solid #979797;
}

.btn-form-enderecos {
    background   : #F27507;
    border-radius: 10px;
    border       : none;
    font-weight  : bold;
    color        : #FFFFFF;
    width        : 105px;
    height       : 40px;
}

.btn-form-enderecos:hover,
.btn-form-enderecos:focus {
    background-color: darkorange;
    color           : #FFFFFF;
}


.editarEnderecos {
    width          : 105px;
    height         : 50px;
    top            : -186px;
    left           : 240px;
    justify-content: center;
    background     : #F27507;
    border-radius  : 10px;
    border         : none;
    font-weight    : bold;
    color          : #FFFFFF;
}

.editarEnderecos:hover,
.editarEnderecos:focus {
    background-color: darkorange;
}

.adicionarEnderecos {
    width          : 105px;
    height         : 50px;
    margin-right: 20px;
    position       : relative;
    justify-content: center;
    background     : #34A853;
    border-radius  : 10px;
    border         : none;
    font-weight    : bold;
    color          : #FFFFFF;
}

.adicionarEnderecos:hover,
.adicionarEnderecos:focus {
    background-color: #34d175;
}

.frmCep{
    width: 250px;
}

.frmTipoLog {
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;
}

.frmNumero{
    width: 225px;
}

.iptComp {
    width: 175px;
    margin-left: -50px;
}

.iptBairro {
    width: 100%;
}

.optEstado {
    width: 230px;
}

@media (max-width:1024px){
    .editarEnderecos{
        width: 100px;
        height: 50px;
        position: relative;
        top: 61%;
        left: -48%;
        align-items: center;
        background: #F27507;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        
      

    }

    .addEnderecos{
        width: 105px;
        height: 50px;
        margin-left: 25%;
        margin-top: -10%;
        position: relative;
        top: 345px;
        left: -580px;
        justify-content: center;
        background: #34A853;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        color: #FFFFFF;
        }
    
}

@media (max-width: 600px) {
    .modal-form-enderecos {
        padding: 0px;
    }

    .div-form-enderecos {
        margin-top: 30px;
    }

    .input-form-enderecos {
        height: 50px;
    }
    .addEnderecos{
        width: 105px;
        height: 50px;
        margin-left: -27%;
        margin-top: -150%;
        position: relative;
        top: 749px;
        left: -185px;
        justify-content: center;
        background: #34A853;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        color: #FFFFFF;
        }

        .editarEnderecos{
            width: 105px;
            height: 50px;
            position: relative;
            top: 56%;
            left: -18%;
            align-items: center;
            background: #F27507;
            border-radius: 10px;
            border: none;
            font-weight: bold;
          

        }

}