/* LINKS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* ZERANDO CONFIGURACOES */

html, header, body, footer {
    padding: 0;
    margin: 0;
    font-family: 'Roboto'; 
}



/* HEADER */

/* Header superior */

.LinkArea{
    text-decoration: none;
    color: #261C1A;
    font-weight: 700;
}
.MenuAreaCanvas{
    width: 100%;
}

#header-up{
    height: 80px; 
    background-color:#AF9787 ;
    color: white;
    padding: 0px ;
    margin: 0px;
}

#cont1-header{
    height: 80px;     
}

.row-up{
    height: 80px;
    align-items: center;
}

#input-cep{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: #AF9787;
    color: white;
}

#input-cep::placeholder{
    color: #261C1A;
    font-family: Roboto;
    background-color: #AF9787;
    border-color: #AF9787;
    color: white;
    font-size: 14px;
}

#cep{
    display:flex;
    text-align: center;
    justify-content: center;
    padding: 0px 0px;
}

#nav-itens{
    display: flex;
    justify-content: center;       
}

#nav-itens a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 12px;
    font-weight: 500;
}

#nav-itens a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}


/* Header inferior */

#header-down{
    height: 110px;
    background-color: #E5E5E5;
}

#cont2{
    height: 110px;    
}

#row-down{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

#logo{
    display: flex;
    justify-content: center;
    text-align: center;   
}

#search{
    display: flex;
    justify-content: center;

}

#search input{
    width: 500px;
    height: 40px;
    color: #261C1A;
}

#icons{
    display: flex;
    justify-content: start;
}


/* ZERANDO CONFIGURACOES */

html, header, body, footer {
    padding: 0;
    margin: 0;
    font-family: 'Roboto'; 
}



/* HEADER */

/* Header superior */

.LinkArea{
    text-decoration: none;
    color: #261C1A;
    font-weight: 700;
}
.MenuAreaCanvas{
    width: 100%;
}

#header-up{
    height: 80px; 
    background-color:#AF9787 ;
    color: white;
    padding: 0px ;
    margin: 0px;
}

#cont1-header{
    height: 80px;     
}

.row-up{
    height: 80px;
    align-items: center;
}

#input-cep{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: #AF9787;
    color: white;
}

#input-cep::placeholder{
    color: #261C1A;
    font-family: Roboto;
    background-color: #AF9787;
    border-color: #AF9787;
    color: white;
    font-size: 14px;
}

#cep{
    display:flex;
    text-align: center;
    justify-content: center;
    padding: 0px 0px;
}

#nav-itens{
    display: flex;
    justify-content: center;       
}

#nav-itens a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 12px;
    font-weight: 500;
}

#nav-itens a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}


/* Header inferior */

#header-down{
    height: 110px;
    background-color: #E5E5E5;
}

#cont2{
    height: 110px;    
}

#row-down{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

#logo{
    display: flex;
    justify-content: center;
    text-align: center;   
}

#search{
    display: flex;
    justify-content: center;

}

#search input{
    width: 500px;
    height: 40px;
    color: #261C1A;
}

#icons{
    display: flex;
    justify-content: start;
}

/*Modal Favorito*/

.lixeira{
    width : 20px;
    margin-top: 20px;
    margin-left: 5px;
}

.sFamilia{
    text-align: center;
    color: black;
    margin-top: 5px;
    margin-left:30px;
}

.imgSagrada{
    margin-left:-32px;
}

.imgBiblia{
    margin-left:-32px;
}

.btnFinalFavoritos{
    background-color: #F27507;
    color : #FFFFFF;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 35px;
    font-weight: bolder;
    font-size: 14px;
    margin-left: 80px;
    font-weight: bolder;

}

.BibliaS{
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-left: 32px;
}

.lixeira2{
    width : 20px;
    margin-top: 40px;
    margin-left: 5px;
}

.favorito-aut{
    font-size: 18px;
    font-weight: 700;
    color: #212529;


}